<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/<th:block th:replace="fragments::headers('PAGE NOT FOUND')">/*/-->
  <title>PAGE NOT FOUND</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" content="token"/>
  <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
  <meta http-equiv="refresh" content="1800">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../static/css/style.css"/>
  <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
  <!--/*/</th:block>/*/-->
</head>
<body>
<div
    class="error__container container-fluid d-flex justify-content-center align-items-center h-100 bg-warning">
  <div class="d-flex flex-column">
    <p class="error__status">404</p>
    <p class="error__status">PAGE NOT FOUND</p>
    <p class="error__explanation" th:text="#{error.not-found.message}">Страница не существует</p>
    <a class="btn btn-outline-dark btn-lg mx-auto my-4 px-5" href="../index.html"
       th:href="@{/}" th:text="#{error.home}">На главную</a>
  </div>
</div>
</body>
</html>
