/** Overall */

html {
  height: 100%;
}

body {
  color: #313131;
  font-size: 16px;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

@media all and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  h2 {
    font-size: 18px;
  }
}

a {
  color: #ffc107;
}

a:hover {
  color: #ba8b00;
}

.header-line {
  width: 90px;
  display: inline-block;
  background-color: black;
}

/* Errors of JQuery validation plugin */

input.error, textarea.error{
  border: 1px solid #ff0000;
}

label.error {
  color: #ff0000;
  font-weight: normal;
}

/** Loader */

.loading-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}

/* Navigation and footer*/

.navbar-light {
  background-color: #fdc134;
}

.navbar-light .nav-item .nav-link {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  margin: auto 0;
  text-transform: uppercase;
  color: #313131;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: white;
}

.headline {
  background-color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  color: white;
}

.headline__social {
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  display: inline-block;
  float: right;
  position: relative;
}

.headline__social a {
  text-decoration: none;
}

.social-widget {
  color: white;
  margin-left: 3px;
  margin-right: 3px;
}

.social-widget:hover {
  color: #fdc134;
}

.logo {
  max-height: 30px;
  width: auto;
}

.footer {
  padding: 7px 0;
  color: #999;
  font-size: 14px;
  background-color: black;
}

.footer__navigation-link {
  color: #fdc134;
}

.footer__navigation-link:hover {
  color: #fdc134;
}

.footer__social {
  font-size: 16px;
  position:absolute;
  bottom: 0;
  right: 0;
}

.footer__social a{
  text-decoration: none;
}

/** Index page */

.portrait {
  max-width: 300px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .portrait {
    max-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .portrait {
    max-width: 45%;
  }
}

@media only screen and (max-width: 320px) {
  .portrait {
    max-width: 100px;
    width: 100%;
  }
}

.download-resume__link {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem 0 0 .25rem;
  background-color: rgb(255, 193, 7);
  font-size: 18px;
  font-weight: 500;
}

a.download-resume__link {
  text-decoration: none;
}

a.download-resume__link:hover {
  color: inherit;
  background-color: #e0a800;
}

.download-resume__lang-container {
  border-left: 1px solid white;
  width: 60px;
  font-weight: 500;
}

.download-resume__format-container {
  border-left: 1px solid white;
  width: 80px;
  font-weight: 500;
}

.download-resume__option {
  cursor: pointer;
}

/** Skills page */

.skill-group {
  width: 32%;
}

@media only screen and (max-width: 1200px) {
  .skill-group {
    width: 45%
  }
}

@media only screen and (max-width: 768px) {
  .skill-group {
    width: 90%;
  }
}

.skills-header {
  display: flex;
  height: 44px;
}

.skills-header__text {
  line-height: 100%;
}

.skills-block {
  height: 80px;
}

.skills-block__image-container {
  text-align: center;
  position: relative;
  height: 100%;
  width: 20%;
}

.skills-block__image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.skills-block__content {
  height: 100%;
  width: 80%;
}

.skills-block__content * {
  margin: auto 0;
}

.skills-block__content-title {
  line-height: 20px;
  margin-bottom: 3px;
}

.skills-block__more-link {
  font-size: 12px;
  width: min-content;
}

.skills-block__question {
  font-size: 16px;
}

/** Projects page */

.project__img-link {
  width: 30%;
  display: block;
  margin: 0 0 0.5rem 0.5rem
}

@media only screen and (max-width: 1200px) {
  .project__img-link {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .project__img-link {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/** Contacts page */

.mail-form__text-input {
  resize: none;
}

.email-container {
  width: 100%
}

@media only screen and (min-width: 992px) {
  .email-container {
    width: 75%;
  }
}

/** Error pages */

.error__container {
  text-align: center;
}

.error__status {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 2rem 0;
}

.error__explanation {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

@media only screen and (max-width: 992px) {
  .error__status {
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 0;
  }
  .error__explanation {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .error__status {
    font-size: 3rem;
  }
}
