<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{contacts.head.title}">Контакты</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/resources/css/style.css}"/>
  <script src="literals.js" th:src="@{/literals.js}"></script>
  <script src="../static/js/dal.js" th:src="@{/resources/js/dal.js}"></script>
  <script src="../static/js/contacts.js" th:src="@{/resources/js/contacts.js}"></script>
  <link rel="icon" href="../static/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" type="image/x-icon">
</head>
<body>
<!--/*/ <th:block th:replace="fragments::navbar('contacts')"> /*/-->
<div class="headline">
  <div class="container">
    <span>Разработка на JAVA</span>
    <div class="headline__right d-flex align-items-center">
      <div class="btn-group headline__locale mr-4">
        <button type="button" class="my-2 btn dropdown-toggle headline__locale-btn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ru</button>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="?lang=ru">ru</a>
          <a class="dropdown-item" href="?lang=en">en</a>
        </div>
      </div>
      <div class="headline__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<header>
  <nav class="navbar sticky-top navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="logo" src="../static/img/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="index.html">Главная</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="about.html">Обо&nbspмне</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="skills.html">Технологии</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="projects.html">Портфолио</a>
          </li>
          <li class="nav-item mx-lg-3 active">
            <a class="nav-link h5" href="contacts.html">Контакты</a>
          </li>
          <li class="nav-item dropdown ml-lg-5">
            <a class="nav-link dropdown-toggle h5" href="#"
               id="navbardrop"
               data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>Антон</span>
            </a>
            <div class="dropdown-menu py-1">
              <a class="dropdown-item"
                 href="/logout">Выйти</a>
            </div>
          </li>
          <li class="nav-item ml-md-3 ml-lg-5">
            <a class="nav-link h5" href="register.html">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5" href="login.html">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--/*/</th:block>/*/-->
<div class="container mt-5 mb-5">
  <div class="text-center">
    <h1 class="mt-5" th:text="#{contacts.title}">Контакты</h1>
    <hr class="mb-3 mt-0 header-line"/>
  </div>

  <table class="table table-bordered mt-3">
    <tbody>
    <tr>
      <td><span th:text="#{contacts.phone}">Телефон</span>:</td>
      <td>+7-926-534-26-61</td>
    </tr>
    <tr>
      <td><span th:text="#{contacts.email}">Электронная почта</span>:</td>
      <td><a href="mailto:anshelen@yandex.ru">anshelen@yandex.ru</a></td>
    </tr>
    <tr>
      <td>GitHub:</td>
      <td><a href="https://github.com/Anshelen/">Anshelen</a></td>
    </tr>
    </tbody>
  </table>
  <div class="container border rounded mt-4 email-container">
    <h2 class="mt-4" th:text="#{contacts.send-message.title}">Отправить письмо</h2>
    <form id="emailForm" class="my-4">
      <div class="control-group form-group">
        <div class="controls">
          <label for="name"><span th:text="#{contacts.send-message.name}">Имя</span>:</label>
          <input id="name" type="text" class="form-control" name="name"
                 th:placeholder="#{contacts.send-message.name.placeholder}"
                 placeholder="Укажите Ваше имя">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label for="subject"><span th:text="#{contacts.send-message.subject}">Заголовок</span>:</label>
          <input id="subject" type="text" class="form-control" name="subject"
                 th:placeholder="#{contacts.send-message.subject.placeholder}"
                 placeholder="Укажите тему письма">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label for="text"><span th:text="#{contacts.send-message.body}">Сообщение</span>:</label>
          <textarea id="text" name="text" rows="10" cols="100"
                    class="form-control mail-form__text-input"
                    th:placeholder="#{contacts.send-message.body.placeholder}"
                    placeholder="Заполните тело письма"></textarea>
        </div>
      </div>
      <div id="success"></div>
      <button id="submitBtn" type="submit" class="btn btn-warning"
              th:text="#{contacts.send-message.submit}">Отправить</button>
    </form>
    <div id="successModal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{notification.message-sent}">Сообщение отправлено</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal"
                    th:text="#{notification.close}">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="failModal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{notification.message-failed}">
              Ошибка при отправке сообщения</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span th:text="#{notification.error-code}">Код ошибки</span>:
            <span id="failCode">500</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal"
                    th:text="#{notification.close}">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <img id="loader" class="loading-image" src="../static/img/loading.gif"
         th:src="@{/resources/img/loading.gif}"
         alt="Loading. Wait please.">
  </div>
</div>

<footer th:replace="fragments::footer" class="mt-5 footer">
  <div class="container">
    <div class="row position-relative">
      <div class="text-center mx-auto">
        <a th:href="@{/index.html}" href="index.html"
           class="footer__navigation-link">Главная</a>
        ●
        <a th:href="@{/contacts.html}" href="contacts.html"
           class="footer__navigation-link">Контакты</a>
      </div>
      <div class="footer__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
