<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>

<th:block th:fragment="headers(title)">
  <title th:text="${title}">Заголовок</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="_csrf" th:content="${_csrf.token}" content="token"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}" content="X-CSRF-TOKEN"/>
  <meta http-equiv="refresh" content="1800" th:content="${#session?.maxInactiveInterval?:1800}">

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="literals.js" th:src="@{/literals.js}"></script>
  <script src="../static/js/common.js" th:src="@{/resources/js/common.js}"></script>
  <script src="../static/js/dal.js" th:src="@{/resources/js/dal.js}"></script>

  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/resources/css/style.css}"/>
  <link rel="icon" href="../static/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" type="image/x-icon">

  <noscript><div><img src="https://mc.yandex.ru/watch/68230450" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</th:block>

<th:block th:fragment="navbar(activebar)" th:with="auth=${#authentication.getPrincipal()}">
  <div class="headline">
    <div class="container">
      <span th:text="#{fragments.headline.slogan}">Разработка на JAVA</span>
      <div class="headline__right d-flex align-items-center">
        <div class="btn-group headline__locale mr-sm-4 mr-2">
          <button type="button" class="my-2 btn dropdown-toggle headline__locale-btn"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  th:text="${#locale.language}">ru
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="?lang=ru"
               th:classappend="${#locale.language == 'ru'} ? 'disabled'">ru</a>
            <a class="dropdown-item" href="?lang=en"
               th:classappend="${#locale.language == 'en'} ? 'disabled'">en</a>
          </div>
        </div>
        <div class="headline__social">
          <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
            <i class="fa fa-github social-widget"></i>
          </a>
          <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
            <i class="fa fa-telegram social-widget social-widget__telegram_header"></i>
          </a>
          <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
            <i class="fa fa-vk social-widget"></i>
          </a>
          <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
            <i class="fa fa-envelope-o social-widget"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <header>
    <nav class="navbar sticky-top navbar-expand-md navbar-light">
      <div class="container">
        <a th:href="@{/}" class="navbar-brand" href="index.html">
          <img class="logo" th:src="@{/resources/img/logo.png}"
               src="../static/img/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target=".dual-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse dual-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-lg-3" th:classappend="${activebar == 'index'} ? 'active'">
              <a th:href="@{/}" class="nav-link h5" href="index.html"
                 th:text="#{fragments.navbar.home}">Главная</a>
            </li>
            <li class="nav-item mx-lg-3" th:classappend="${activebar == 'about'} ? 'active'">
              <a th:href="@{/about}" class="nav-link h5" href="about.html"
                 th:text="#{fragments.navbar.about}">Обо&nbspмне</a>
            </li>
            <li class="nav-item mx-lg-3" th:classappend="${activebar == 'skills'} ? 'active'">
              <a th:href="@{/skills}" class="nav-link h5" href="skills.html"
                 th:text="#{fragments.navbar.skills}">Технологии</a>
            </li>
            <li class="nav-item mx-lg-3" th:classappend="${activebar == 'projects'} ? 'active'">
              <a th:href="@{/projects}" class="nav-link h5" href="projects.html"
                 th:text="#{fragments.navbar.projects}">Портфолио</a>
            </li>
            <li class="nav-item mx-lg-3" th:classappend="${activebar == 'contacts'} ? 'active'">
              <a th:href="@{/contacts}" class="nav-link h5" href="contacts.html"
                 th:text="#{fragments.navbar.contacts}">Контакты</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown ml-lg-5">
              <a class="nav-link dropdown-toggle h5" href="#"
                 id="navbardrop"
                 data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <span th:text="${auth.name}">Антон</span>
              </a>
              <div class="dropdown-menu py-1">
                <form id="logout-form" action="/logout" method="POST" th:action="@{/logout}">
                </form>
                <a id="logout" class="dropdown-item"
                   th:text="#{fragments.navbar.logout}"
                   href="javascript:void(0);">Выйти</a>
              </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item ml-md-3 ml-lg-5">
              <a class="nav-link h5" href="register.html"
                 th:href="@{/register}" th:text="#{fragments.navbar.sign_up}">
                Регистрация</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
              <a class="nav-link h5" href="login.html"
                 th:href="@{/login}" th:text="#{fragments.navbar.login}">Вход</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</th:block>

<footer th:fragment="footer" class="mt-5 footer">
  <div class="container">
    <div class="row position-relative">
      <div class="text-center mx-auto">
        <a th:href="@{/}" href="index.html"
           class="footer__navigation-link" th:text="#{fragments.footer.home}">
          Главная</a>
        ●
        <a th:href="@{/contacts}" href="contacts.html"
           class="footer__navigation-link" th:text="#{fragments.footer.contacts}">
          Контакты</a>
      </div>
      <div class="footer__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
          <i class="fa fa-telegram social-widget social-widget__telegram_footer"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
