<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Антон Шеленков</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/resources/css/style.css}"/>
  <script src="../static/js/index.js" th:src="@{/resources/js/index.js}"></script>
</head>
<body>
<!--/*/<th:block th:replace="fragments::navbar('index')">/*/-->
<div class="headline">
  <div class="container">
    Разработка на JAVA
    <div class="headline__social">
      <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
        <i class="fa fa-github social-widget"></i>
      </a>
      <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
        <i class="fa fa-vk social-widget"></i>
      </a>
      <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
        <i class="fa fa-envelope-o social-widget"></i>
      </a>
    </div>
  </div>
</div>
<header>
  <nav class="navbar sticky-top navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="logo" src="../static/img/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-lg-3 active">
            <a class="nav-link h5" href="index.html">Главная</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="about.html">Обо&nbspмне</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="skills.html">Технологии</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="projects.html">Портфолио</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="contacts.html">Контакты</a>
          </li>
          <li class="nav-item dropdown ml-lg-5">
            <a class="nav-link dropdown-toggle h5" href="#"
               id="navbardrop"
               data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>Антон</span>
            </a>
            <div class="dropdown-menu py-1">
              <a class="dropdown-item"
                 href="/logout">Выйти</a>
            </div>
          </li>
          <li class="nav-item ml-lg-5">
            <a class="nav-link h5" href="login.html">Войти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--/*/</th:block>/*/-->
<div class="container mt-lg-3 mt-2 mb-5">

  <div class="text-right">
    <div class="btn-group">
      <a id="download_link" class="download-resume__link"
         href="/resume" th:href="@{/resume}" download>
        <i class="fa fa-download mr-1" aria-hidden="true"></i>
        Резюме
      </a>
      <div class="btn-group">
        <div id="btnGroupDrop1"
             class="px-2 btn btn-warning dropdown-toggle download-resume__lang-container"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="resume_lang">EN</span>
        </div>
        <div id="resume_lang_container" class="p-1 dropdown-menu" aria-labelledby="btnGroupDrop1">
          <div data-option="en" class="dropdown-item download-resume__option">EN</div>
          <div data-option="ru" class="dropdown-item download-resume__option">RU</div>
        </div>
      </div>
      <div class="btn-group">
        <div id="btnGroupDrop2"
             class="px-2 btn btn-warning dropdown-toggle download-resume__format-container"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="resume_format">PDF</span>
        </div>
        <div id="resume_format_container" class="p-1 dropdown-menu" aria-labelledby="btnGroupDrop2">
          <div data-option="pdf" class="dropdown-item download-resume__option">PDF</div>
          <div data-option="docx" class="dropdown-item download-resume__option">DOCX</div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <h1>Java разработчик Антон Шеленков</h1>
    <hr class="mb-3 mt-0 header-line"/>
  </div>

  <div class="text-center text-sm-left mt-lg-5 mt-md-4 mt-3">
    <img class="border rounded shadow img-fluid float-left mr-3 mb-2 portrait"
         src="../static/img/me.jpg"
         alt="My photo"
         th:src="@{/resources/img/me.jpg}">
    <div class="text-left">
      <p> Создаю сайты и внутрикорпоративные программы, а также поддерживаю и улучшаю
        старые, чтобы они стали удобнее и быстрее. Чтобы добиться высокой
        скорости разработки и ясности кода, я использую актуальные фреймворки и
        придерживаюсь гибкого цикла разработки. Это позволяет улучшать продукт
        мелкими шажками, чтобы конечные пользователи могли сразу же оценить новый
        функционал и дать обратную связь. Я всегда стараюсь разрабатывать максимально
        автоматизированное решение. В идеале после каждого коммита проект должен быть
        собран, протестирован и готовым к публикации на боевом сервере.
      </p>
      <p> Основное направление моей деятельности - разработка backend'а приложений.
        Я знаю, как организовать безопасность сайта и как подключать платежную
        систему. Я умею разрабатывать смартконтракты и извлекать данные из
        защищенных от парсинга сайтов.
      </p>
      <p> Помимо функционала, для того чтобы публичное приложение или сайт
        пользовались успехом, ему нужен привлекательный дизайн. Я этим не занимаюсь,
        но если вы не знаете к кому обратиться, то могу посоветовать знающего
        человека.
      </p>
      <p> Я стараюсь программировать максимально чисто, с оглядкой на расширение
        проекта в будущем. Мне важно, чтобы, видя мой код, у моих коллег не возникало
        желание его отрефакторить.
      </p>
      <br/>
      <p class="mb-5"> Код этого проекта доступен на
        <a class="text-warning" href="https://github.com/Anshelen/portfolio">GitHub</a>
      </p>
    </div>
  </div>
</div>
<footer th:replace="fragments::footer" class="mt-5 footer">
  <div class="container">
    <div class="row position-relative">
      <div class="text-center mx-auto">
        <a th:href="@{/index.html}" href="index.html"
           class="footer__navigation-link">Главная</a>
        ●
        <a th:href="@{/contacts.html}" href="contacts.html"
           class="footer__navigation-link">Контакты</a>
      </div>
      <div class="footer__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
