<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/<th:block th:replace="fragments::headers(#{login.head.title})">/*/-->
  <title>Войти в систему</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" content="token"/>
  <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
  <meta http-equiv="refresh" content="1800">

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="literals.js"></script>
  <script src="../static/js/common.js"></script>
  <script src="../static/js/dal.js"></script>

  <link rel="stylesheet" href="../static/css/style.css"/>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <!--/*/</th:block>/*/-->

  <script src="../static/js/registration.js" th:src="@{/resources/js/registration.js}"></script>
</head>
<body>
<!--/*/ <th:block th:replace="fragments::navbar('')"> /*/-->
<div class="headline">
  <div class="container">
    <span>Разработка на JAVA</span>
    <div class="headline__right d-flex align-items-center">
      <div class="btn-group headline__locale mr-4">
        <button type="button" class="my-2 btn dropdown-toggle headline__locale-btn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ru
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="?lang=ru">ru</a>
          <a class="dropdown-item" href="?lang=en">en</a>
        </div>
      </div>
      <div class="headline__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
          <i class="fa fa-telegram social-widget social-widget__telegram_header"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<header>
  <nav class="navbar sticky-top navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="logo" src="../static/img/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="index.html">Главная</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="about.html">Обо&nbspмне</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="skills.html">Технологии</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="projects.html">Портфолио</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="contacts.html">Контакты</a>
          </li>
          <li class="nav-item dropdown ml-lg-5">
            <a class="nav-link dropdown-toggle h5" href="#"
               id="navbardrop"
               data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>Антон</span>
            </a>
            <div class="dropdown-menu py-1">
              <form id="logout-form" action="/logout" method="POST">
              </form>
              <a id="logout" class="dropdown-item"
                 href="javascript:void(0);">Выйти</a>
            </div>
          </li>
          <li class="nav-item ml-md-3 ml-lg-5">
            <a class="nav-link h5" href="register.html">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5" href="login.html">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--/*/</th:block>/*/-->
<div class="my-auto">
  <div class="row my-3">
    <form
      class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 m-auto border border-warning rounded"
      method="post" action="/login" th:action="@{/login}">
      <div class="text-center mt-3 mb-3">
        <h1 class="font-weight-light" th:text="#{login.title}">Вход</h1>
        <hr class="mb-3 mt-0 header-line"/>
      </div>

      <div class="form-group">
        <label for="inputEmail" class="font-weight-light" th:text="#{login.email}">
          Электронная почта</label>
        <input type="email" id="inputEmail" name="email"
               class="form-control" placeholder="Электронная почта" required
               th:placeholder="#{login.email.placeholder}" autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="font-weight-light" th:text="#{login.password}">
          Пароль</label>
        <input type="password" id="inputPassword" name="password"
               class="form-control" placeholder="Пароль"
               th:placeholder="#{login.password.placeholder}" required>
      </div>

      <div class="custom-control custom-checkbox">
        <input id="rememberMeCB" type="checkbox" class="custom-control-input" name="remember-me"/>
        <label class="custom-control-label" for="rememberMeCB">
          <span class="font-weight-light" th:text="#{login.remember-me}">Запомнить меня</span>
        </label>
      </div>

      <!--suppress ThymeleafVariablesResolveInspection -->
      <div th:if="${param.error}" th:switch="${param.error[0]}"
           class="mb-4 mt-2 text-center font-weight-light text-danger">
        <p th:case="'BadCredentials'" th:text="#{login.error.bad-credentials}">
          Неверный адрес электронной почты или пароль</p>
        <p th:case="'CredentialsExpired'" th:text="#{login.error.credentials-expired}">
          Полномочия пользователя истекли</p>
        <p th:case="'Locked'" th:text="#{login.error.account-banned}">
          Аккаунт заблокирован</p>
        <p th:case="'NoVerifiedEmail'" th:text="#{login.error.no-verified-account}">
          К провайдеру входа не привязан адрес электронной почты</p>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div th:case="'Disabled'" th:with="mail=${param.email[0]}">
          <p th:text="#{login.error.account-disabled}">Аккаунт не активирован.</p>
          <a id="resend" href="#" data-email="anshelen@yandex.ru" th:attr="data-email=${mail}"
             th:text="#{login.send-confirmation-again}">
            Повторно отослать письмо подтверждения</a>
        </div>
      </div>

      <button class="btn btn-lg btn-outline-dark btn-block mt-4 mb-4 font-weight-light"
              type="submit" th:text="#{login.submit}">
        Войти
      </button>

      <div class="separator" th:text="#{login.separator}">или</div>
      <div class="d-flex my-3">
        <div class="d-flex justify-content-center w-50">
          <a th:href="@{/oauth2/authorization/google}">
            <i class="fa fa-google oauth-link-icon"></i>
          </a>
        </div>
        <div class="d-flex justify-content-center w-50">
          <a th:href="@{/oauth2/authorization/github}">
            <i class="fa fa-github oauth-link-icon"></i>
          </a>
        </div>
      </div>

    </form>
  </div>
  <div id="successModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{notification.message-sent}">Сообщение отправлено</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal"
                  th:text="#{notification.close}">
            Закрыть
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="failModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{notification.message-failed}">
            Ошибка при отправке сообщения</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span th:text="#{notification.error-code}">Код ошибки</span>:
          <span id="failCode">500</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal"
                  th:text="#{notification.close}">
            Закрыть
          </button>
        </div>
      </div>
    </div>
  </div>
  <img id="loader" class="loading-image" src="../static/img/loading.gif"
       th:src="@{/resources/img/loading.gif}"
       alt="Loading. Wait please.">
</div>

<footer th:replace="fragments::footer" class="mt-5 footer">
  <div class="container">
    <div class="row position-relative">
      <div class="text-center mx-auto">
        <a href="index.html"
           class="footer__navigation-link">Главная</a>
        ●
        <a href="contacts.html"
           class="footer__navigation-link">Контакты</a>
      </div>
      <div class="footer__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
          <i class="fa fa-telegram social-widget social-widget__telegram_footer"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
