<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/<th:block th:replace="fragments::headers(#{projects.head.title})">/*/-->
  <title>Портфолио</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" content="token"/>
  <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
  <meta http-equiv="refresh" content="1800">

  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="literals.js"></script>
  <script src="../static/js/common.js"></script>

  <link rel="stylesheet" href="../static/css/style.css"/>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <!--/*/</th:block>/*/-->
</head>
<body>
<!--/*/ <th:block th:replace="fragments::navbar('projects')"> /*/-->
<div class="headline">
  <div class="container">
    <span>Разработка на JAVA</span>
    <div class="headline__right d-flex align-items-center">
      <div class="btn-group headline__locale mr-4">
        <button type="button" class="my-2 btn dropdown-toggle headline__locale-btn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ru
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="?lang=ru">ru</a>
          <a class="dropdown-item" href="?lang=en">en</a>
        </div>
      </div>
      <div class="headline__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
          <i class="fa fa-telegram social-widget social-widget__telegram_header"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<header>
  <nav class="navbar sticky-top navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="logo" src="../static/img/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="index.html">Главная</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="about.html">Обо&nbspмне</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="skills.html">Технологии</a>
          </li>
          <li class="nav-item mx-lg-3 active">
            <a class="nav-link h5" href="projects.html">Портфолио</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link h5" href="contacts.html">Контакты</a>
          </li>
          <li class="nav-item dropdown ml-lg-5">
            <a class="nav-link dropdown-toggle h5" href="#"
               id="navbardrop"
               data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>Антон</span>
            </a>
            <div class="dropdown-menu py-1">
              <form id="logout-form" action="/logout" method="POST">
              </form>
              <a id="logout" class="dropdown-item"
                 href="javascript:void(0);">Выйти</a>
            </div>
          </li>
          <li class="nav-item ml-md-3 ml-lg-5">
            <a class="nav-link h5" href="register.html">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5" href="login.html">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--/*/</th:block>/*/-->
<div class="container">
  <div class="text-center">
    <h1 class="mt-5" th:text="#{projects.title}">Проекты, в которых я участвовал</h1>
    <hr class="mb-3 mt-0 header-line"/>
  </div>

  <div id="aximetria" class="media border rounded p-3 my-3">
    <div class="media-body">
      <a href="https://www.aximetria.com" target="_blank" class="project__img-link float-right">
        <img src="../static/img/projects/aximetria.png"
             th:src="@{/resources/img/projects/aximetria.png}" alt="Aximetria"
             class="border rounded shadow w-100 h-auto">
      </a>
      <h2 class="mb-4" th:utext="#{projects.aximetria.title}">
        <a href="https://www.aximetria.com" target="_blank" class="text-warning">Aximetria</a>
        - сервис управления криптоактивами</h2>
      <p th:text="#{projects.aximetria.content1}">
        Этот сервис позволяет совершать операции с фиатными и криптовалютными активами. Пользователи
        могут создавать кошельки, покупать или продавать криптовалюту и стейблкоины, переводить
        средства на внешние адреса. Также клиенты могут участвовать в реферальной программе и
        оформлять подписки для получения доступа к расширенному функционалу.
      </p>
      <p th:text="#{projects.aximetria.content2}">
        Система состоит из 14 микросервисов, построенных на спринговом стеке и обменивающихся
        информацией через Apache Kafka и по механизму RPC (Apache Thrift). Мне удалось поработать
        практически со всеми частями системы, но наиболее плотно я занимался системой антифрода
        и модулем взаимодействия с блокчейном Ethereum. Некоторые из задач, которые я решил
        в этом проекте:
      </p>
      <ul class="list-group">
        <li class="list-group-item" th:text="#{projects.aximetria.challenge1}">
          Разработка алгоритма антифрода для сравнения ФИО пользователя с данными держателя карты
          с учетом транслитерации, составных имен, опечаток, сокращений и т.д.
        </li>
        <li class="list-group-item" th:text="#{projects.aximetria.challenge2}">
          Создание системы субсидирования транзакций, позволяющей пользователям переводить
          стейблкоины без комиссии блокчейна
        </li>
        <li class="list-group-item" th:text="#{projects.aximetria.challenge3}">
          Интеграция с сервисом видеоверификации и доработка системы проверки личности
          пользователей
        </li>
        <li class="list-group-item" th:text="#{projects.aximetria.challenge4}">
          Создание удобных представлений агрегированных данных в ClickHouse, что ускорило и
          упростило работу с аналитикой
        </li>
      </ul>
    </div>
  </div>
  <div id="iqmanager" class="media border rounded p-3 my-3">
    <div class="media-body">
      <a href="https://iqmanager.org" target="_blank" class="project__img-link float-right">
        <img src="../static/img/projects/iqmanager.png"
             th:src="@{/resources/img/projects/iqmanager.png}" alt="IQManager project"
             class="border rounded shadow w-100 h-auto">
      </a>
      <h2 class="mb-4" th:utext="#{projects.iqmanager.title}">
        <a href="https://iqmanager.org" target="_blank" class="text-warning">IQManager</a>
        - портал для организации мероприятий</h2>
      <p th:text="#{projects.iqmanager.content1}">
        Этот портал служит для связи артистов, музыкантов, владельцев площадок и других работников
        индустрии развлечений напрямую с заказчиком. Пользователь может выступать как в роли
        заказчика, так и исполнителя. Система позволяет клиенту организовать празник онлайн, даже
        без нужды созваниваться с исполнителем.
      </p>
      <p th:text="#{projects.iqmanager.content2}">
        Некоторые из решенных мной задач:
      </p>
      <ul class="list-group">
        <li class="list-group-item" th:text="#{projects.iqmanager.challenge1}">
          Разработка рабочих календарей на JavaScript, а также подключение и кастомизация Google
          Maps
        </li>
        <li class="list-group-item" th:text="#{projects.iqmanager.challenge2}">
          Подключение эквайринга от Сбербанка, настройка возможности частичной оплаты и
          автоматического возврата средств
        </li>
        <li class="list-group-item" th:text="#{projects.iqmanager.challenge3}">
          Профилирование и устранение узких мест системы, что ускорило загрузку некоторых страниц
          на порядок
        </li>
        <li class="list-group-item" th:text="#{projects.iqmanager.challenge4}">
          Доработка полнотекстового поиска сайта - настройка нечеткого поиска, улучшение логики
          поиска, анализ индексов
        </li>
      </ul>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <a href="http://kad.arbitr.ru/" target="_blank" class="project__img-link float-right">
        <img src="../static/img/projects/arbitr.png"
             th:src="@{/resources/img/projects/arbitr.png}" alt="Arbitr project"
             class="border rounded shadow w-100 h-auto">
      </a>
      <h2 class="mb-4" th:utext="#{projects.arbitr.title}">
        Arbitr - парсер
        <a href="http://kad.arbitr.ru/" target="_blank" class="text-warning">
          картотеки административных дел</a></h2>
      <p th:text="#{projects.arbitr.content1}">
        Этот парсер может извлекать информацию по заданному списку ИНН в двух режимах:
        историческом и инкрементальном. Исторический инициируется пользователем и считывает судебные
        дела за условленный промежуток времени, тогда как инкрементальный режим запускается
        регулярно в автоматическом режиме.
      </p>
      <p th:utext="#{projects.arbitr.content2}">
        Основная техническая сложность в этом проекте заключалась в преодолении защиты сайта. Эта
        задача решалась с помощью прокси-серверов и интеграции с сервисом расшифровки капч
        <a href="https://rucaptcha.com/" target="_blank" class="text-warning">Rucaptcha.com</a>.
        Также эта программа активно использует многопоточность.
      </p>
      <p th:text="#{projects.arbitr.content3}">
        Во время разработки в мои обязанности входила разработка архитектуры программы, а также
        координирование работы еще двух программистов. Это был очень полезный и интересный опыт.
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <a href="http://talksift.ru/" target="_blank" class="project__img-link float-right">
        <img src="../static/img/projects/talksift.png"
             th:src="@{/resources/img/projects/talksift.png}" alt="Talksift project"
             class="border rounded shadow w-100 h-auto">
      </a>
      <h2 class="mb-4" th:utext="#{projects.talksift.title}">Форум
        <a href="http://talksift.ru/" target="_blank" class="text-warning">Talksift</a>
      </h2>
      <p th:text="#{projects.talksift.content}">
        Это дискуссионная площадка для ведения споров на любые темы. Она имеет очень запутанную
        систему фильтров, оценок, рейтингов и ведения бесед. Это дало мне опыт работы с очень
        объемными запросами к БД и с запутанной навигацией по проекту.
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <h2 class="mb-4" th:utext="#{projects.pajcoin.title}">
        <a href="https://etherscan.io/token/0x1a85180ce3012e7715b913dd585afdf1a10f3025"
           target="_blank" class="text-warning">PajCoin</a>
        - токен на базе Ethereum</h2>
      <p th:text="#{projects.pajcoin.content}">
        Проект состоит из трех составляющих: токена, смарт-контракта обменника и сервиса-оракула.
        Токен поддерживает стандарт ERC223 и привязан к рублю (1 токен PJC = 1000 рублей). Для
        приобретения/продажи токенов используется контракт-обменник, курс которого изменяется извне
        оракулом. Была написана версия, использующая сервис Oraclize, однако, впоследствии по
        экономическим соображениям было решено разработать собственную реализацию. Это решение
        позволило существенно снизить операционные расходы и, как следствие, комиссию обменника. Я
        принимал участие в разработке всех компонентов системы.
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <h2 class="mb-4" th:text="#{projects.changer.title}">
        Changer - закрытая акционерная площадка для Bitcoin и Ethereum</h2>
      <p th:text="#{projects.changer.content}">
        Этот ресурс позволяет клиентам переводить на кошелек фирмы криптовалюту, что отражается в
        их личном кабинете. Администраторы же могут автоматически распределить дивиденды
        пропорционально вкладам. В команде я выполнял работу по автоматизации тестирования этого
        приложения, так как заказчики предъявляли повышенные требования к безопасности и надежности.
        В результате мной были написаны тесты на TestRPC и приватном блокчейне.
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <h2 class="mb-4" th:text="#{projects.microservices-project.title}">
        Домашний проект на базе микросервисов</h2>
      <p>
        <span th:text="#{projects.microservices-project.content1.part1}">
          Для того, чтобы ознакомиться с технологиями, используемыми совместно с микросервисами,
          я создал учебный проект
        </span>
        (GitHub:
        <a class="text-warning" href="https://github.com/Anshelen/microservices-backend"
           target="_blank"
           th:text="#{projects.microservices-project.content1.link1}">раз</a>,
        <a class="text-warning" href="https://github.com/Anshelen/microservices-gateway"
           target="_blank"
           th:text="#{projects.microservices-project.content1.link2}">два</a>,
        <a class="text-warning" href="https://github.com/Anshelen/microservices-deploy"
           target="_blank"
           th:text="#{projects.microservices-project.content1.link3}">три</a>).
        <span th:text="#{projects.microservices-project.content1.part2}">
          Он состоял из следующих шагов:
        </span>
      </p>
      <ul class="list-group">
        <li class="list-group-item" th:text="#{projects.microservices-project.challenge1}">
          Создание 2 микросервисов и оптимизация их Docker образов
        </li>
        <li class="list-group-item" th:text="#{projects.microservices-project.challenge2}">
          Описание конфигурации Kubernetes кластера, деплой в Google Kubernetes Engine
        </li>
        <li class="list-group-item" th:text="#{projects.microservices-project.challenge3}">
          Создание и деплой Helm-чарта
        </li>
        <li class="list-group-item" th:text="#{projects.microservices-project.challenge4}">
          Настройка CI/CD в Jenkins
        </li>
        <li class="list-group-item" th:text="#{projects.microservices-project.challenge5}">
          Деплой ELK-инфраструктуры, организация мониторинга логов сервисов
        </li>
      </ul>
      <p class="mt-3">
        <span th:text="#{projects.microservices-project.content2}">
        Более подробно об этом проекте я рассказывал в
        </span>
        <a class="text-warning" href="https://habr.com/ru/post/487922/" target="_blank"
           th:text="#{projects.microservices-project.content2.link}">серии статей</a>.
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <h2 class="mb-4" th:text="#{projects.portfolio.title}">Этот сайт-портфолио</h2>
      <p th:text="#{projects.portfolio.content}">
        В качестве домашнего проекта я разработал этот сайт. Помимо информации обо мне он является
        площадкой, на которой я отрабатываю новые технологии.
      </p>
      <p th:utext="#{projects.portfolio.link}">
        Ссылка на <a href="https://github.com/Anshelen/portfolio" target="_blank"
                     class="text-warning">репозиторий</a>
      </p>
    </div>
  </div>
  <div class="media border rounded p-3 my-3">
    <div class="media-body">
      <h2 class="mb-4" th:text="#{projects.archetype.title}">Архетип quick-web-archetype</h2>
      <p th:text="#{projects.archetype.content}">
        Для этого сайта и на будущее я создал Maven архетип для web-приложения с использованием
        Spring Boot и Thymeleaf. В моих планах улучшать его параллельно с этим сайтом.
      </p>
      <p th:utext="#{projects.archetype.link}">
        Ссылка на <a href="https://github.com/Anshelen/quick-web-archetype" target="_blank"
                     class="text-warning">репозиторий</a></p>
    </div>
  </div>
</div>

<footer th:replace="fragments::footer" class="mt-5 footer">
  <div class="container">
    <div class="row position-relative">
      <div class="text-center mx-auto">
        <a href="index.html"
           class="footer__navigation-link">Главная</a>
        ●
        <a href="contacts.html"
           class="footer__navigation-link">Контакты</a>
      </div>
      <div class="footer__social">
        <a href="https://github.com/Anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-github social-widget"></i>
        </a>
        <a href="https://t.me/AntonShelenkov" rel="nofollow" target="_blank">
          <i class="fa fa-telegram social-widget social-widget__telegram_footer"></i>
        </a>
        <a href="https://vk.com/anshelen" rel="nofollow" target="_blank">
          <i class="fa fa-vk social-widget"></i>
        </a>
        <a href="mailto:anshelen@yandex.ru" rel="nofollow" target="_blank">
          <i class="fa fa-envelope-o social-widget"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
